*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
}

.result {
  width: 711px;
  height: 438px;
  margin-top: 96px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit:cover;
  object-position: center;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.search-form__fieldset {
  width: 225px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top:23px;
}

.search-form__fieldset:nth-of-type(2) {
  margin-left: 14px;
}

.content__list {
  position: relative;
  width: 404px;
  height: 298px;
  overflow-y: auto;
  padding-left: 3px;
  margin-top: 11px;
}

.content__details {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.content__list-item {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  object-fit:cover;
  object-position:center;
}

.content__card-link{
  display: block;
  margin: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.title {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 24px;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: white;
  margin-top: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.content__video-card-description {
  display: -webkit-box;
  width: 200px;
  max-height: 65px;
  overflow: hidden;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-align: left;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.button {
  height: 34px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  background-color: transparent;
  color: white;
  border: 1px white solid;
  cursor: pointer;
  display: inline-block; 
}

.search-form__submit-button {
  width: 194px;
  margin-top: 16px;
  padding-top: 4px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 20px; /* добавьте этот стиль */
}

.more-button {
  width: 100%;
}

input {
  width: 225px;
  height: 27px;
  border-top: white 1px solid;
  background-color: transparent;
  border-right: none;
  border-bottom: white 1px solid;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible{
  outline: 1px white solid;
}

.search-form__label-text{
  margin-left: 2px;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  gap: 18px;
}


.search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  display: flex;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
  transform: translate(10%, 8%);
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible{
  outline: 2px solid white;
}

.content__card-link:hover{
  text-decoration: underline;
  text-decoration-color:white;
}

.content__card-link:active{
  background-color: #545050;
}

.content__card-link:focus{
  outline: none;
}

.content__card-link:focus-visible{
  outline: 1px solid white;
}

.search-form__label:has(input:focus) {
  outline: none;
}

.search-form__label:has(input:focus-visible){
  outline: 1px solid white;
}


